In [2]:
import numpy as np
import pandas as pd

In [4]:
# Creating a sample time series DataFrame
df = pd.DataFrame({
    'date': pd.date_range('2024-01-20', periods=5),   # the default frequency is [D], so 5 days
    'value': range(5)
})
df

        date  value
0 2024-01-20      0
1 2024-01-21      1
2 2024-01-22      2
3 2024-01-23      3
4 2024-01-24      4

In [5]:
# Setting datetime index
df.set_index('date', inplace=True)
print("\nDataFrame with DatetimeIndex:")
df

DataFrame with DatetimeIndex:

            value
date
2024-01-20      0
2024-01-21      1
2024-01-22      2
2024-01-23      3
2024-01-24      4

In [6]:
# Accessing datetime components
print("Year:", df.index.year)
print("Month:", df.index.month)
print("Day:", df.index.day)
print("Weekday:", df.index.dayofweek)

Year: Index([2024, 2024, 2024, 2024, 2024], dtype='int32', name='date')
Month: Index([1, 1, 1, 1, 1], dtype='int32', name='date')
Day: Index([20, 21, 22, 23, 24], dtype='int32', name='date')
Weekday: Index([5, 6, 0, 1, 2], dtype='int32', name='date')

In [8]:
print(df.index)  # To see the exact structure of your index
print(df.loc['2024-01'])  # Alternative syntax that might work

# Date filtering
# print("January data:", df['2024-01'])

DatetimeIndex(['2024-01-20', '2024-01-21', '2024-01-22', '2024-01-23',
               '2024-01-24'],
              dtype='datetime64[ns]', name='date', freq=None)
            value
date
2024-01-20      0
2024-01-21      1
2024-01-22      2
2024-01-23      3
2024-01-24      4

In [ ]:
# Resampling
print("\nResampling to 2-day frequency:")
print(df.resample('2D').mean())