## DataFrame creation

In [25]:
import pandas as pd
import numpy as np

In [26]:
# Method 1: From Dictionary of Lists (Column-oriented)
# Each key becomes a column name, each list becomes column values
# so row#1 will be:  'John', 25, 'NY'..

df1 = pd.DataFrame({
    'Name': ['John', 'Emma', 'Alex', 'Sarah'],    # So this is a column, not a row
    'Age': [25, 30, 22, 35],
    'City': ['NY', 'LA', 'SF', 'CHI']
})
print("1. From dictionary of lists (column-oriented):")
print(f"Shape: {df1.shape} in the format: (rows, columns)")
print(df1)
print("\n")

1. From dictionary of lists (column-oriented):
Shape: (4, 3) in the format: (rows, columns)
    Name  Age City
0   John   25   NY
1   Emma   30   LA
2   Alex   22   SF
3  Sarah   35  CHI

In [27]:
# Method 2: From List of Lists (Row-oriented)
# Each inner list is a row
data = [
    ['John', 25, 'NY'],      # this is a row
    ['Emma', 30, 'LA'],
    ['Alex', 22, 'SF'],
    ['Sarah', 35, 'CHI']
]
df2 = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print("2. From list of lists (row-oriented):")
print(f"Shape: {df2.shape} in the format: (rows, columns)")
print(df2)
print("\n")

2. From list of lists (row-oriented):
Shape: (4, 3) in the format: (rows, columns)
    Name  Age City
0   John   25   NY
1   Emma   30   LA
2   Alex   22   SF
3  Sarah   35  CHI

In [28]:
# Method 3: From List of Dictionaries (Row-oriented)
# Each dictionary is a row
data = [
    {'Name': 'John', 'Age': 25, 'City': 'NY'},    #  This is a row
    {'Name': 'Emma', 'Age': 30, 'City': 'LA'},
    {'Name': 'Alex', 'Age': 22, 'City': 'SF'},
    {'Name': 'Sarah', 'Age': 35, 'City': 'CHI'}    
]
df3 = pd.DataFrame(data)
print("3. From list of dictionaries (row-oriented):")
print(f"Shape: {df3.shape} in the format: (rows, columns)")
print(df3)
print("\n")

3. From list of dictionaries (row-oriented):
Shape: (4, 3) in the format: (rows, columns)
    Name  Age City
0   John   25   NY
1   Emma   30   LA
2   Alex   22   SF
3  Sarah   35  CHI

In [29]:
# Method 4: From NumPy Array
array = np.array([[1, 2, 3, 4],     # this is a row
                 [5, 6, 7, 8],
                 [9, 10, 11, 12]])
df4 = pd.DataFrame(array, columns=['A', 'B', 'C', 'D'])
print("4. From NumPy array:")
print(f"Shape: {df4.shape} in the format: (rows, columns)")
print(df4)
print("\n")

4. From NumPy array:
Shape: (3, 4) in the format: (rows, columns)
   A   B   C   D
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [30]:
# Method 5: Creating an empty DataFrame and adding data
df5 = pd.DataFrame(columns=['Name', 'Age', 'City'])
# Adding rows one at a time
df5.loc[0] = ['John', 25, 'NY']
df5.loc[1] = ['Emma', 30, 'LA']
print("5. Created empty and added rows:")
print(f"Shape: {df5.shape} in the format: (rows, columns)")
print(df5)
print("\n")

5. Created empty and added rows:
Shape: (2, 3) in the format: (rows, columns)
   Name  Age City
0  John   25   NY
1  Emma   30   LA

In [31]:
# Method 6: Using concatenation to add rows or columns
df6 = pd.DataFrame({'Name': ['John'], 'Age': [25]})
new_row = pd.DataFrame({'Name': ['Emma'], 'Age': [30]})
df6 = pd.concat([df6, new_row], ignore_index=True)
print("6. Using concatenation:")
print(f"Shape: {df6.shape} in the format: (rows, columns)")
print(df6)

6. Using concatenation:
Shape: (2, 2) in the format: (rows, columns)
   Name  Age
0  John   25
1  Emma   30