In [1]:
import pandas as pd
import seaborn as sns
from scipy import stats

### The tips dataset show tip given in a restaurant

In [2]:
# Load the tips dataset
tips = sns.load_dataset('tips')

# Let's focus on the 'total_bill' column
total_bills = tips['total_bill']
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# Basic distribution statistics
print("Basic Distribution Statistics:")
print(total_bills.describe())

Basic Distribution Statistics:
count    244.000000
mean      19.785943
std        8.902412
min        3.070000
25%       13.347500
50%       17.795000
75%       24.127500
max       50.810000
Name: total_bill, dtype: float64

In [4]:
# Shape of the distribution
print("\nDistribution Shape Metrics:")
print(f"Skewness: {total_bills.skew():.2f}")
print(f"Kurtosis: {total_bills.kurtosis():.2f}")

Distribution Shape Metrics:
Skewness: 1.13
Kurtosis: 1.22