### Python Dictionary
- can store values attached to "keys"
- There is no order of elements
- Search for key is fast, and not dependant on dictionary size

In [1]:
# Creating a dictionary
# "name" , "age", 0   are keys
d1 = {"name" : "Shmulik", "age": 39, 0: 'this is zero'}
print(type(d1))
print(d1)

<class 'dict'>
{'name': 'Shmulik', 'age': 39, 0: 'this is zero'}

In [2]:
# Accessing dictionary elements
d1['age']

39

In [3]:
# Altering value attached to a key:  in this case the new value is a list!
d1['name'] = ['David', 'Shmulik','Yuval', 38]
d1

{'name': ['David', 'Shmulik', 'Yuval', 38], 'age': 39, 0: 'this is zero'}

In [4]:
# This is python: a value can even be a function
def myfunc(a, b):
    return a+b

d1['age'] = myfunc     # Assign a function as a value
d1['age'](4, 7)        # Now call that function

11

In [5]:
# Here's a practical example of putting functions as values of a dictionary:
def sum_op(x, y):
    return x+y

def minus_op(x, y):
    return x-y

ops = {'+': sum_op,  '-': minus_op}
ops['-'](5, 3)

2

In [6]:
# This is an example of puttomg a lambda function as a values
# The reason for that: this is a simple function and we don't need a name for it
ops = {'+': lambda x, y : x+y, '-': lambda x,y : x-y}
ops['-'](5, 3)

2

In [7]:
# Example:
# A list inside a dictionary inside another dictionary, so tripple access
a = {'name': 'Avner', 'grades': [86, 99, 67]}
b = {'name': 'Sima', 'grades': [94, 93, 92]}
c = {'name': 'Gordon', 'grades': [66, 88, 77]}

students = {'123456789': a, '987654321': b, '5555555':c}  # put 3 sictionaries inside a parent dict
students['987654321']['grades'][1]

93