In [1]:
import seaborn as sns
import pandas as pd

In [2]:
# Load the tips dataset
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Using pandas.DataFrame.duplicated method
- Here's [the documentaion](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html#pandas.DataFrame.duplicated)

In [3]:
# Find exact duplicates
places = tips.duplicated(keep=False)  # What lines you want to keep: 'first', 'last', or False (so none)
print(places[196:204])
exact_duplicates = tips[places]
exact_duplicates

196    False
197    False
198     True
199    False
200    False
201    False
202     True
203    False
dtype: bool

     total_bill  tip     sex smoker   day   time  size
198        13.0  2.0  Female    Yes  Thur  Lunch     2
202        13.0  2.0  Female    Yes  Thur  Lunch     2

In [4]:
# Find duplicates based on total_bill and tip columns, not the whole line
bill_duplicates = tips[tips.duplicated(subset=['total_bill', 'tip'], keep=False)]
print(bill_duplicates)

     total_bill  tip     sex smoker   day    time  size
61        13.81  2.0    Male    Yes   Sat  Dinner     2
163       13.81  2.0    Male     No   Sun  Dinner     2
198       13.00  2.0  Female    Yes  Thur   Lunch     2
202       13.00  2.0  Female    Yes  Thur   Lunch     2

In [5]:
# Display summary
print(f"Total rows: {len(tips)}")
print(f"Exact duplicates: {len(exact_duplicates)}")
print(f"Rows with duplicate bills and tips: {len(bill_duplicates)}")

# Show the duplicates
print("\nDuplicate entries (same total_bill and tip):")
print(bill_duplicates[['total_bill', 'tip', 'day', 'time']].head(10))

Total rows: 244
Exact duplicates: 2
Rows with duplicate bills and tips: 4

Duplicate entries (same total_bill and tip):
     total_bill  tip   day    time
61        13.81  2.0   Sat  Dinner
163       13.81  2.0   Sun  Dinner
198       13.00  2.0  Thur   Lunch
202       13.00  2.0  Thur   Lunch