In [1]:
import pandas as pd

In [2]:
# Sample data with type issues
data = {
   'id': ['1', '2', '3', None],
   'price': ['19.99', '$25.50', '15', '20.00'],
   'date': ['2024-01-01', '01/15/2024', '2024-02-01', 'Invalid']
}
df = pd.DataFrame(data)

In [3]:
# Check types
print("Initial types:")
print(df.dtypes)  # All objects (strings)

Initial types:
id       object
price    object
date     object
dtype: object

fixing types:
- astype -> as a type
- 'coerce' force it to succeed, keep going on.
   "If ‘coerce’, then invalid parsing will be set as NaN."  
    See [here](https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html#pandas.to_numeric) for details.
- NaN - Not A Number (see [here](https://en.wikipedia.org/wiki/NaN#:~:text=In%20mathematics%2C%20the%20result%20of,NaN%20in%20compliant%20computing%20systems.) for details)
- NaT - Noa a Time  
  NA - Not Available  
   (see [here](https://pandas.pydata.org/docs/reference/missing_value.html) for details)

In [4]:
# Fix types
df['id'] = pd.to_numeric(df['id'], errors='coerce')
df['price'] = df['price'].str.replace('$', '').astype(float) 
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df

    id  price       date
0  1.0  19.99 2024-01-01
1  2.0  25.50        NaT
2  3.0  15.00 2024-02-01
3  NaN  20.00        NaT

In [5]:
print("\nFixed types:")
print(df.dtypes)
print("\nData:")
print(df)

Fixed types:
id              float64
price           float64
date     datetime64[ns]
dtype: object

Data:
    id  price       date
0  1.0  19.99 2024-01-01
1  2.0  25.50        NaT
2  3.0  15.00 2024-02-01
3  NaN  20.00        NaT