In [17]:
import pandas as pd

In [18]:
# Read the CSV and set up MultiIndex columns
df = pd.read_csv('student_scores.csv')
column_tuples = [(col.split('_')[0], col.split('_')[1]) for col in df.columns]
print(column_tuples)
df.columns = pd.MultiIndex.from_tuples(column_tuples, names=['Subject', 'Test'])
df = df.sort_index(axis=1)

[('Math', 'Midterm'), ('Math', 'Final'), ('Science', 'Midterm'), ('Science', 'Final'), ('English', 'Midterm'), ('English', 'Final')]

In [19]:
# Note that the index is a simle one, have nothing to do with the MultiIndex:
print(df.index)
# Look at the columns we have created:
print(df.columns)

RangeIndex(start=0, stop=10, step=1)
MultiIndex([('English',   'Final'),
            ('English', 'Midterm'),
            (   'Math',   'Final'),
            (   'Math', 'Midterm'),
            ('Science',   'Final'),
            ('Science', 'Midterm')],
           names=['Subject', 'Test'])

#### MultiIndex column indexing

In [20]:
# Select all columns for one subject
print(df['Math'])

Test  Final  Midterm
0      98.0     75.0
1      94.6     62.3
2      68.5     93.3
3      71.6     77.3
4      91.4     78.2
5      66.8     84.3
6      63.9     72.2
7      96.4     61.4
8      67.4     81.9
9      96.9     83.9

In [21]:
# Select specific subject and test
print(df['Math']['Midterm'])

0    75.0
1    62.3
2    93.3
3    77.3
4    78.2
5    84.3
6    72.2
7    61.4
8    81.9
9    83.9
Name: Midterm, dtype: float64

In [22]:
# Get all Final exams across subjects
# Using xs (cross section)
df.xs('Final', level='Test', axis=1)    # axis=1 refers to columns, not rows

Subject  English  Math  Science
0           66.2  98.0     83.9
1           98.8  94.6     88.3
2           81.0  68.5     67.3
3           74.7  71.6     65.6
4           61.9  91.4     80.6
5           92.3  66.8     98.0
6           79.8  63.9     77.6
7           80.8  96.4     86.5
8           95.8  67.4     91.0
9           73.0  96.9     67.8

In [23]:
idx = pd.IndexSlice
# Get specific combinations
df.loc[:, idx['Math', 'Midterm']]

0    75.0
1    62.3
2    93.3
3    77.3
4    78.2
5    84.3
6    72.2
7    61.4
8    81.9
9    83.9
Name: (Math, Midterm), dtype: float64

In [24]:
# Get multiple selections
df.loc[:, idx[['Math', 'Science'], 'Final']]

Subject  Math Science
Test    Final   Final
0        98.0    83.9
1        94.6    88.3
2        68.5    67.3
3        71.6    65.6
4        91.4    80.6
5        66.8    98.0
6        63.9    77.6
7        96.4    86.5
8        67.4    91.0
9        96.9    67.8