In [3]:
import pandas as pd
import numpy as np

## Columns transformation in Pandas
- adding columns
- deleting columns
- swapping columns

In [4]:
# Create sample DataFrame
df = pd.DataFrame({
        'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]
})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
# df.insert(loc=2, column='new_col', value=values)  # ✓ Built-in method
df1 = df.copy()
print(df1.columns)
df1.insert(loc=1, column='new_col', value=(100,200,300))  # ✓ Built-in method
df1

Index(['A', 'B', 'C'], dtype='object')

   A  new_col  B  C
0  1      100  4  7
1  2      200  5  8
2  3      300  6  9

In [12]:
df2 = df.copy()

# Delete column 'B'
df2 = df2.drop(['B'], axis=1)
df2

   A  C
0  1  7
1  2  8
2  3  9

In [ ]:
# swapping columns - using labels
df3 = df.copy()
# Swap columns 'A' and 'B'
df3['A'], df3['B'] = df3['B'], df3['A']

df3

In [ ]:
# swapping columns - using positions
df4 = df.copy()

i, j = 1, 2  # positions to swap
cols = list(df4.columns)
cols[i], cols[j] = cols[j], cols[i]
df4 = df4[cols]
df4